{{> head}}

   {{> navbar}}
  <div class="row">
      <div class="col-8">
          <h1>Bull terrier</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod itaque sint est, tenetur impedit consectetur velit. Unde exercitationem quaerat sed quidem perferendis, nemo, labore corporis enim minus adipisci eligendi repudiandae!</p>
      </div>
      <div class="col-4">
          <img src="assets/img/descarga.jpeg" class="img-thumbnail">
      </div>
  </div>
    {{> footer}}

    